<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>test</title>

    <link rel="stylesheet" href="../static/bootstrap.css">
    <script src="../static/jquery-2.2.2.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>

{% set end=session['past_endpoint'] %}
<h1>past_endpoint : {{end}}</h1>
{% set path=session['past_path'] %}
<h1>past_path : {{path}}</h1>
{% set sth=session['past_sth'] %}
<h1>past_sth : {{sth}}</h1>
<br>

<h1>now_endpoint : {{request.endpoint}}</h1>
<h1>now_parh : {{request.path}}</h1>
<br>


<h1>now_sth : {{request.url_rule}}</h1>
</body>
</html>